  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>itinerae : white rhino</title>
    <!-- The style.css file allows you to change the look of your web pages.
         If you include the next line in all your web pages, they will all share the same look.
         This makes it easier to make new pages for your site. -->

  <style type="text/css">  
  body 
  {font:10px calibri;letter-spacing:1px;color:#333;background:#eee;}


a:link, a:visited, a:active {
color:#000;text-decoration:none;}
a:hover {
color:#555;}
a img {
border-width:0;
}

b {color:#111;font-weight:bold;}


::-webkit-scrollbar-thumb {
background-color: transparent;  
border-radius: 0px;
border:1px solid #cc000;
}
::-webkit-scrollbar {
width: 7px; height: 4px; 
background: transparent;
}
  
.title {color:#000; background-color: #bbb; padding: 2px;padding-top:4px;padding-left:8px;text-transform:uppercase;letter-spacing:2px;height:10px;line-height:11px;}
.box { background-color: #fff; border: 1px solid #bbb; padding: 8px; margin-bottom:8px;}

    
#navigation {
      width: 605px;
      float: left;
      margin: 0 0 0 0;
      padding: 5px 0px;
      list-style: none;
      background-color: transparent;
      border-bottom: 0px solid #eee; 
      border-top: 0px solid #eee; }
   #navigation li {
      float: left; }
   #navigation li a {
      display: block;
      padding: 2px 10px;
font:italic 11px georgia;
text-transform:lowercase;
border-radius:10px;
     letter-spacing:1px;
      text-decoration: none;
      font-weight: normal;
margin-right:0px;
margin-left:5px;
      color: #000;
background:#fff;
      border:0px solid #FAE8FF;}
   #blackbar li a:hover {
      color: #AB9DBD;
      background-color: #444; }
    
</style>



  </head>
  <body>
  
    <div class="banner" style="position:absolute;top:60px;left:120px;width:660px;height:150px;background:#fff url();border:1px solid #bbb;">
<br><br><br>
  <center>
  <img src="https://64.media.tumblr.com/9c8a7a615ec0f83d96425d2247d39306/tumblr_inline_msbvtfuyCa1rkldve.gif"> <br>
  <h1>Image or title</h1>
  ( 660 x 150 px )</center>
  </div>
  
  
  
  <div class="navigation" style="position:absolute;top:213px;left:295px;">
<ul id="navigation">
      <li><a href="">home</a></li>

<li><a href="">link</a></li>

<li><a href="">link</a></li>

<li><a href="">link</a></li>

<li><a href="">link</a></li>

<li><a href="">link</a></li>




   </ul>

</div>

  
  
  
  
  
  
  <div style="position:absolute;top:245px;left:300px;width:300px;">
   <div class="title"> title</div>
  <div class="box">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec eros eget enim posuere tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam condimentum, ante id pulvinar convallis, leo nunc iaculis nulla, in tincidunt dui neque ut nulla. Aenean sodales suscipit ipsum, eget sodales nisl malesuada placerat. Curabitur rutrum egestas enim ut convallis. Vestibulum erat est, elementum eget sem quis, fringilla finibus diam. Aenean purus felis, ullamcorper at tristique pharetra, semper eget massa. Ut egestas ante sed quam facilisis, eu posuere dolor lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus sodales lorem mi, sed pulvinar sem iaculis non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed eu risus vel purus tincidunt scelerisque.<br><br>

Integer at orci tincidunt, auctor metus eu, ultricies dolor. Etiam nec posuere eros. Nullam vestibulum mauris urna, nec hendrerit dolor ultrices id. Aliquam sit amet blandit quam. In ac ex vitae nulla elementum faucibus. Morbi malesuada ex in tincidunt dictum. Etiam euismod laoreet tempor.<br><br>

Praesent vitae tristique enim. Sed volutpat faucibus elementum. Donec in dapibus augue. Ut sagittis commodo maximus. Cras venenatis, urna quis convallis viverra, mi ipsum facilisis elit, eget tristique ligula odio eu ligula. Aliquam erat volutpat. Donec dapibus non purus in auctor. Praesent ut cursus libero. Nullam fringilla lorem et risus facilisis aliquet. Phasellus sagittis tortor erat, ultricies dignissim eros laoreet vitae.
  </div>
  
  
  
  <br><center>
layout made by <a href="http://itinerae.blogspot.com" target="_blank">itinerae.</a><br></center>
</div>









  <div style="position:absolute;top:245px;left:120px;width:170px;">
   <div class="title"> title</div>
  <div class="box">
  Aenean sodales suscipit ipsum, eget sodales nisl malesuada placerat. Curabitur rutrum egestas enim ut convallis. Vestibulum erat est, elementum eget sem quis, fringilla finibus diam. Aenean purus felis, ullamcorper at tristique pharetra, semper eget massa. Ut egestas ante sed quam facilisis, eu posuere dolor lobortis.
  </div>
  
  
  <div class="title">title</div>
  <div class="box">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec eros eget enim posuere tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam condimentum, ante id pulvinar convallis, leo nunc iaculis nulla, in tincidunt dui neque ut nulla. Aenean sodales suscipit ipsum, eget sodales nisl malesuada placerat.
  </div>
  
  
</div>











<div style="position:absolute;top:245px;left:610px;width:170px;">
    <div class="title"> updates</div>
  <div class="box">
  <b>22.02.2024</b> Update here
  </div>
  
  <div class="title"> title</div>
  <div class="box">
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec eros eget enim posuere tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam condimentum, ante id pulvinar convallis, leo nunc iaculis nulla, in tincidunt dui neque ut nulla. Aenean sodales suscipit ipsum, eget sodales nisl malesuada placerat. 
  </div>
  
  <div class="title"> title</div>
  <div class="box">
  Aenean sodales suscipit ipsum, eget sodales nisl malesuada placerat. Curabitur rutrum egestas enim ut convallis. Vestibulum erat est, elementum eget sem quis, fringilla finibus diam. Aenean purus felis, ullamcorper at tristique pharetra, semper eget massa. Ut egestas ante sed quam facilisis, eu posuere dolor lobortis.
  </div>
  
  
</div>







  </body>
</html>
  